body {
    padding: 0;
    margin: 0;
    background-color: #000;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.app_container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.app_container__col_1 {
    width: 75vw;
    height: 100vh;
    background-color: #1a1a1a;
    transform: scale(1.5);
    position: absolute;
    left: 60px;
    top: 40px
}

.app_container__col_2 {
    width: 25%;
    padding: 1rem;
    z-index: 1;
    position: absolute;
    right: 10px;
}