.rect {
    position: absolute;
    border: 1px solid blue;
}

.square {
    position: absolute;
    width: 7px;
    height: 7px;
    background: white;
    border: 1px solid #eb5648;
    border-radius: 1px;
}

.resizable-handler {
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: pointer;
    z-index: 1;
}

.resizable-handler .tl,
.resizable-handler .t,
.resizable-handler .tr {
    top: -7px;
}

.resizable-handler .tl,
.resizable-handler .l,
.resizable-handler .bl {
    left: -7px;
}

.resizable-handler .bl,
.resizable-handler .b,
.resizable-handler .br {
    bottom: -7px;
}

.resizable-handler .br,
.resizable-handler .r,
.resizable-handler .tr {
    right: -7px;
}

.resizable-handler .l,
.resizable-handler .r {
    margin-top: -7px;
}

.resizable-handler .t,
.resizable-handler .b {
    margin-left: -7px;
}

.rotate {
    position: absolute;
    left: 50%;
    top: -26px;
    width: 18px;
    height: 18px;
    margin-left: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.t,
.tl,
.tr {
    top: -3px;
}

.b,
.bl,
.br {
    bottom: -3px;
}

.r,
.tr,
.br {
    right: -3px;
}

.tl,
.l,
.bl {
    left: -3px;
}

.l,
.r {
    top: 50%;
    margin-top: -3px;
}

.t,
.b {
    left: 50%;
    margin-left: -3px;
}

.childContainer {
    width: 100%;
    height: 100%;
    position: absolute;
}

.childContainer>* {
    user-select: none;
}